################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/ProjectSettings
/Packages
/obj/Debug
/Logs
/Library
/Book Examples.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/.vs
/obj/Release/Assembly-CSharp.csproj.CoreCompileInputs.cache
/obj/Release/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
/obj/Release/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
*.meta
