################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Logs
/obj/Debug
/ProjectSettings
/Packages
/Temp
/.vs/Book Examples/v15
/Book Examples.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor-firstpass.csproj
